
p {
	text-align : justify;
}
hr {
    margin: auto;
    width: 40%;
}
/*Seccion de inicio*/
.home{
    background: url(../images/profile.jpg) no-repeat center top fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    width: 100%;
    overflow: hidden;
}
.home-wrapper{
    margin-top:240px;
    color:#fff;
}
.home-content h1{
    font-size:65px;
    text-transform:uppercase;
    color:#fff;
    font-weight:900;
    font-family: "Raleway Webfont";
    letter-spacing:12px;
    border-top:2px solid #ecf0f2;
    border-bottom:2px solid #ecf0f2;
    padding:20px 0;
    text-align : center;
} 
.home-content p{
    font-size:25px;
    margin-top:20px;
    color:#ecf0f2;
    text-align : center;
}

/*Seccion de about me*/
/*hacer que la imagen (about me) sea circular*/
.imagen{
	/*define el tamaño del circulo*/
    height: 500px;
    width: 500px;
    /* los siguientes valores son independientes del tamaño del círculo */
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
}
.aboutme-text{
	padding-top: 50px;
	font-family: "Raleway Webfont";
}
/*Seccion de Educacion y Experiencia*/
.education{
	background: url(../images/u.jpg) no-repeat center top fixed;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	width: 100%;
	overflow: hidden;
}
.education-content{
	background: rgba(79, 50, 68, .7);
	padding:60px 40px;
	color:#fff;
}
.education-content h4{
	color:#fff;
	text-transform:uppercase;
	font-size:26px;
	font-family: "Raleway Webfont";
	font-weight:600;
	margin-bottom:50px;
}
.education-content .content-details h5{
	color:#fff;
	font-size:18px;
}
.education-content .content-details h6{
	color:#ecf0f2;
	font-size:16px;
}
.education-content .content-details p{
	color:#ecf0f2;
}
.education-content .content-details.content-border{
	border-bottom:1px solid #dadada;
	padding-bottom: 30px;
	margin-bottom: 30px;
}

/*seccion de proyectos*/
.project-coming {
     background: url(../images/i1.jpeg) no-repeat center top fixed;
    height: 100%;
    background-size: cover;
    position: relative;
    color: black;
    font-family: "Raleway Webfont";
    font-size: 25px;
    padding-bottom: 400px;
    padding-top: 200px;
}
.project-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/*seccion contacto*/
.contact-head{
	text-align : center;
	font-family: "Raleway Webfont";
	color: white;
}
.contact-head p{
	text-align: center;
	font-family: "Raleway Webfont";
	color: white;
}
.contact-overlay {
	background-color: rgba(0, 0, 0, .55);
	width: 80%;
	padding-top: 50px;
	min-height:100px;
}
.contact-icon{
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/*forma de las secciones y fondo*/
.sections {
	padding-top: 100px;
	padding-bottom: 100px;
	position: relative;
	overflow: hidden;
}
.sectionprojects{
	position: relative;
	overflow: hidden;
}
.sectioncontact{
	background: url(../images/bgt.jpg) center no-repeat;
	background-color: black;
	padding-top: 100px;
	padding-bottom: 100px; 
}
/*genero una seccion translucida*/
.overlay {
	background-color: rgba(0, 0, 0, .60);
	width: 100%;
	overflow:hidden;
	min-height:700px;
}
