
p {
	text-align : justify;
}

/*Para el inicio*/
.home{
    background: url(../images/profile.jpg) no-repeat center top fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    width: 100%;
    overflow: hidden;
}
.home-wrapper{
    margin-top:240px;
    color:#fff;
}
.home-content h1{
    font-size:65px;
    text-transform:uppercase;
    color:#fff;
    font-weight:900;
    font-family: "Raleway Webfont";
    letter-spacing:12px;
    border-top:2px solid #ecf0f2;
    border-bottom:2px solid #ecf0f2;
    padding:20px 0;
    text-align : center;
} 
.home-content p{
    font-size:25px;
    margin-top:20px;
    color:#ecf0f2;
    text-align : center;
}

/*SECCIÓN ABOUT ME*/
/*hacer que la imagen (about me)sea circular*/
.imagen{
	/*define el tamaño del circulo*/
    height: 500px;
    width: 500px;
    /* los siguientes valores son independientes del tamaño del círculo */
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
}

/*Para la parte de Educacion y Experiencia*/
.education{
	background: url(../images/u.jpg) no-repeat center top fixed;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	width: 100%;
	overflow: hidden;
}

/*no lo estoy usando */
.education-wrapper{
	margin-top:30px;
}
.education-content{
	background: rgba(79, 50, 68, .7);
	padding:60px 40px;
	color:#fff;
}
.education-content h4{
	color:#fff;
	text-transform:uppercase;
	font-size:26px;
	font-family: "Raleway Webfont";
	font-weight:600;
	margin-bottom:50px;
}
.education-content .content-details h5{
	color:#fff;
	font-size:18px;
}
.education-content .content-details h6{
	color:#ecf0f2;
	font-size:16px;
}
.education-content .content-details p{
	color:#ecf0f2;
}
.education-content .content-details.content-border{
	border-bottom:1px solid #dadada;
	padding-bottom: 30px;
	margin-bottom: 30px;
}

/*Sección: about me*/

.aboutme-text{
	padding-top: 50px;
}
.about-content{
    margin-top:70px;
}
.about-content h4{
    font-size:18px;
    font-family: 'robotobold';
}
.about-content a{
    margin-top:40px;
}

/*sección: proyectos*/
.proyect-head{
	text-align : center;
	font-family: "Raleway Webfont";
}
.proyect-head p{
	text-align: center;
}
.proyect-image {
	height: 150px;
    width: 150px;
    /* los siguientes valores son independientes del tamaño del círculo */
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
}

/*sección: contacto*/
.contact-head{
	text-align : center;
	font-family: "Raleway Webfont";
	color: white;
}
.contact-head p{
	text-align: center;
	font-family: "Raleway Webfont";
	color: white;
}
.contact-back {
	background-color: black;
}
.contact-overlay {
	background-color: rgba(0, 0, 0, .55);
	width: 80%;
	padding-top: 50px;
	min-height:100px;
}
.contact-icon {
		text-decoration: none;
		border-bottom: none;
		position: relative;
	}
.contact-icon.style2 {
			-moz-transition: all 0.2s ease;
			-webkit-transition: all 0.2s ease;
			-ms-transition: all 0.2s ease;
			transition: all 0.2s ease;
			border-radius: 100%;
			display: inline-block;
			padding: 0.5em;
			border: solid 1px rgba(255, 255, 255, 0.25);
			background-color: rgba(255, 255, 255, 0.075);
		}


/*forma de las secciones y fondo*/
.sections {
	padding-top: 100px;
	padding-bottom: 100px;
	position: relative;
	overflow: hidden;
}
.sectionprojects{
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: #D1F2EB  ;
	position: relative;
	overflow: hidden;
}
.sectioncontact{
	background: url(../images/ct1.jpg) center no-repeat;
	background-color: black;
	padding-top: 100px;
	padding-bottom: 100px; 
}
.overlay {
	background-color: rgba(0, 0, 0, .60);
	width: 100%;
	overflow:hidden;
	min-height:700px;
}


